#github, #linkedin, #homepage {
    filter: invert(1) brightness(2);
    width: 50px;
    height: 50px;
}

.image-link-wrapper {
    width: 100%;
    height: auto;
}

.background-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7); /* Barre noire semi-transparente */
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 1.5rem;
    font-weight:500;
    z-index: 1;
}

.overlay-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 12.5%;
    height: auto;
    padding-top: 1%;
    padding-right: 1%;
    color: white;
}

.text-justify{
    text-align:justify;
}

.video-container {
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}
