#name, #jobtitle {
    
}

#github, #linkedin, #homepage {
    filter: invert(1) brightness(2);
    width: 50px;
    height: 50px;
}

.image-link-wrapper {
    width: 100%;
    height: auto;
}

.image-link-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7); /* Barre noire semi-transparente */
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 1.5rem;
    z-index: 1;
}

.text-justify{
    text-align:justify;
}
